{%extends "layout/base.html"%}
{%block title%}Đăng nhập{%endblock%}
{%block content%}
<form action="\login" method="post">
    <h1 class="text-center text-info mt-1">Log In</h1>
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" pattern="[a-zA-Z0-9]*" required>
        <label for="username">Username</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        <label for="password">Password</label>
    </div>
    {%if err_msg%}
    <div class="alert alert-danger">{{err_msg}}</div>
    {%endif%}
    <button class ="btn btn-success" type="submit">Log In</button>
</form>
{%endblock%}